
@import url(../styles/2Menu.css);
@import url(../styles/3Title.css);
@import url(../styles/4About.css);
@import url(../styles/5Skills.css);
@import url(../styles/6Hobbies.css);
@import url(../styles/7Academic.css);
@import url(../styles/8Experience.css);
@import url(../styles/9contact.css);
@import url(../styles/10footer.css);

/* Base cores */
:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark-blue: #162950;
    --pink: #F22FB0;
    --gradient-main: linear-gradient(270deg, #F22FB0 69.27%, rgba(255, 197, 111, 0.9) 100%);
    --gradient-dark: linear-gradient(178.38deg, #121212 57.18%, #1E3A8A 99.77%);

    --montserrat: "Montserrat";
    --poppins: "Poppins";
}

body{
    background-color: var(--white);
    background-image: url("../assets/Gradient-2.png"), url(../assets/Gradient.svg);
    background-position:right bottom, left top;
    background-repeat: no-repeat;
    color: var(--dark-blue);
    font-family: var(--poppins);
    font-size: 1em;
    font-weight: 400;
}

.dark-mode {
    background-color: var(--black);
    /* background-image: url("ADICIONAR"), url(ADICIONAR); */
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    color: var(--white);
  }
 
 @media screen and (min-width: 0) {
     body {
      width: auto;
     }
      
  }
  /*Tablet*/
  @media screen and (min-width: 768px) {
      body {
          width: auto;
      }
     
  }
  /*Mobile*/
  @media screen and (min-width: 992px) {
      body {
          width: 84rem;
      }
      
  }