@import url(../styles/2Menu.css);
@import url(../styles/3Title.css);
@import url(../styles/4About.css);
@import url(../styles/5SkillsHobbies.css);
@import url(../styles/6Academic.css);
@import url(../styles/7Experience.css);
@import url(../styles/8contact.css);
@import url(../styles/9footer.css);

/* Base cores */


:root {
    --primary-color: rgb(19, 19, 19);
    --secundary-color: rgb(240, 237, 233);
    --Tertiary-color:hsl(0, 0%, 83%);
    --bg-color: rgb(241, 241, 241);
    --headline: hsl(0, 0%, 0%);
    --title-orange: hsl(37, 100%, 50%);
    --paragraph: rgb(32, 32, 32);
    --paragraph-2: hsl(90 , 14%, 3%);

    --montserrat: "Montserrat";
    --poppins: "Poppins";

    font-size: 60.5%;
}


html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 1.6rem;
    text-align: center;
    font-family: var(--poppins);
    font-weight: 400;
    overflow: overlay;
    background-color: var(--bg-colorcolor);
}


::-webkit-scrollbar {
    width: 0.8rem;

}

::-webkit-scrollbar-track {
    border-radius: 5rem;
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: var(--paragraph);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


section {
    padding-block: 10rem;
    padding-inline: 2rem;
}

section h4 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    color: var(--primary-color);
    text-transform: uppercase;

    margin-bottom: 1.6rem;
}

section header h2 {
    font-size: 3rem;
    line-height: 3.9rem;

    color: var(--primary-color);
}

section h3 {
    color: var(--headline);
}

section p,
section span {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 130%;

    color: var(--paragraph);
}