a {
    text-decoration: none;
    color: var(--primary-color);
} 

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    height: 10vh;
    margin: 0px 80px;
    padding-block: 1rem;
}

.menu__title, .title__subsection {
    color: var(--primary-color);
}
.meunu__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    padding-right: 50px;
}

nav ul.menu__list{
    display: flex;
    justify-content: space-between;
    width: 750px;
    font-size: 16px;
    
}

.menu__mobile__list {
    display: none;
}

.menu__img {
    margin-right: 16px;
    width: 32px;
}

.menu__list__item, .menu__mobile__list{
  font-size: 18px;
  color: var(--main-color);
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
.menu__list__item:focus,
.menu__list__item:hover,.menu__mobile__list {
  color: var(--main-color);
}

.menu__list__item:focus:after,.menu__mobile__list:focus::after,
.menu__list__item:hover:after,.menu__mobile__list:hover::after {
  width: 100%;
  left: 0%;
}

.menu__list__item::after,.menu__mobile__list:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color:var(--main-color);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


@media screen and (min-width: 375px){
    /*menu*/
    .menu {
        display: flex;
        justify-content: space-between;
        margin:1em 1em;
    }
    nav ul.menu__list{
        display: none;
        justify-content: space-between;
        width: 750px;
        font-size: 16px;
    }
    .menu__mobile__list {
        display:flex;
    }
}

    @media screen and (min-width: 768px){

        /*menu*/
        menu {
            display: flex;
            justify-content: space-between;
            margin:1em 2em;
        }
    }

    @media screen and (min-width: 1024px){

        .menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: flex-end;
            height: 10vh;
            margin: 0px 150px;
            font-weight: 500;
        }
        
        .menu__title, .title__subsection {
            color: var(--primary-color);
        }
        .menu___header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 700;
        }
        
        nav ul.menu__list{
            display: flex;
            justify-content: space-between;
            width: 750px;
            font-size: 16px;
        }
        
        .menu__mobile__list {
            display: none;
        }
        
        header img {
            margin-right: 16px;
            width: 32px;
        }
    }