section.title{
    margin: 32px 0px;
}
.title__div {
    margin: 0px 153px;
}
div.title__container h2 {
    font-size: 56px;
    font-weight: 700;
    line-height: 50px;
}

div.title__div {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.title__profile {
   width: 368px;
}

.title__subsection {
    width: 600px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

}

.title__network__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-size: 16px;
    width: 500px;

}