.about__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: min(100rem, 100%);
  margin-inline: auto;
  padding-inline: 2.2rem;
  gap: 15rem;
  margin-top: 1rem;
}

#about {
  padding-top: 5rem;
  text-align: center;
  background-color: var(--bg-color);
}

#about h2 {
  font-size: 2.4rem;
  color: var(--title-orange);
  line-height: 110%;
  margin-bottom: 1rem;
}

#about .conteudo p {
  margin-block: 5rem;
  text-align: justify;
}

#about .conteudo a {
  text-decoration: none;
  color: var(--paragraph);
  font-weight: bold;
}

#about .coluna-a {
  margin-bottom: 6rem;
}

#about .coluna-b {
  text-align: left;
}

#about img {
  width: 25rem;

  border-radius: 2rem;
  box-shadow: 0 0 2rem black;

  transition: 600ms;
}