.skills {
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
}

.skills__line {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
}

.skills__box {
  padding: 2.8rem;
  text-align: left;
  background: var(--bg-color);
  border-radius: 0.6rem;
  box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.267);
  transition: background 400ms;
}

.skills__box:hover {
  background: var(--secundary-color);
}

.skills__title {
  margin-bottom: 1.6rem;
  text-align: center;
  gap: 100px;
}

.skills__img img {
  width: 10rem;
}
