section.experience{
    padding: 64px 0;
    background-color: var(--cor-de-fundo-2);
}

.experiencie__box {
    padding: 62px ;
    display: flex;
    justify-content: space-around;
}

#box-fc {
    background-color: var(--cor-de-fundo);
    flex-direction: row-reverse;
}
#box-ps {
    background-color: var(--cor-de-fundo-2);
}
#decodificaor {
    background-color: var(--cor-de-fundo-2);
}

.experience__img {
    border-radius: 35px;
    padding: 10px;
    width: 542px;
}


.experience__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25em;

}

.xp-title {
    font-size: 22px;
    margin: 8px 0;
}
.experience__text {
    color: var(--cor-descricao);
    margin: 12px 0;
    font-weight: 400;
    font-size: 14px;
 
}

.experiencia__botao--repo {
    color: var(--cor-de-fundo);
    width: 90px;
    height: 30px;
    border: none;
    font-weight: bold;
    margin-right: 1em;
    border-radius: 5px;
    background-color: var(--cor-titulo);
    transition: all 1s;
    padding: auto;
    text-align: center;
}

.experiencia__botao--repo:hover {
    color: var(--cor-de-fundo-2);
    cursor: pointer;
    background-color: var(--cor-de-link2);
}

.experiencia__botao--demo {
    color: var(--cor-de-fundo);
    width: 90px;
    height: 30px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--cor-de-link);
    transition: all 1s;
}

.experiencia__botao--demo:hover {
    cursor: pointer;
    background-color: var(--cor-descricao);
}

#btn-demo, #btn-repo{
    width: 200px;
}

.digital__art__img {
    border-radius: 15px;
    width: 40%;
}