section.formcontato{
    padding: 64px;
}

.formcontato__contacto {
    padding: 0 64px;
    display: flex;
}

.formcontato__img {
    border-radius: 17px;
}

.formcontato__title {
    margin-top: 0;
    color:var(--cor-titulo);
}
.formcontato__text{ 
    padding: 0px 20px;
}

.formcontato__subtext{
    margin-bottom: 18px;
}

.formcontato__input {
    width: 400px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: var(--cor-de-fundo-2);
    text-decoration: none;
    border-radius: 5px;
    color: var(--cor-texto);
    font-size: 20px;
}

.formcontato__textarea {
    width: 400px;
    height: 240px;
    display: flex;
    background-color: var(--cor-de-fundo-2);
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
    color: var(--cor-texto);
    font-size: 20px;
}

.formcontato__input::placeholder, .formcontato__textarea::placeholder {
    color:var(--cor-placeholder);
    font-size: 16px;
    text-align: start;
    padding: 0;

}

.formcontato__botao {
    width: 200px;
    height: 35px;
    color: var(--cor-de-fundo);
    border: none;
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--cor-de-link);
    transition: all 1s;
    margin-top: 12px;
}

.formcontato__botao:hover {
    cursor: pointer;
    background-color: var(--cor-descricao);
}

.formcontato__input:invalid {
    border-color: red;
}

#mensagem-erro {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: var(--cor-erro);
}

#mensagem-sucesso {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: var(--cor-titulo);
}