.contact{
  display: flex;
  flex-direction: column;
  margin: 4rem 2rem;
  border-top: solid .25rem;
  border-image:  linear-gradient(270deg, #f37a2a 69.27%, rgba(255, 197, 111, 0.9) 100%);
  border-image-slice: 1;
}

.contact__container__title{
  font-size: 10rem;
  font-weight: 700;
  padding: 3.5rem 0;
  text-align: left;
  text-transform: uppercase;
  line-height: 150%;
}

strong{
  color: var(--main-color);
}
.card-contact {
  width: fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 5px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
/* github*/
.containerOne:hover {
  background-color: #bbb826;
  transition-duration: 0.3s;
}
/* email*/
.containerTwo:hover {
  background-color: #ff1b0b;
  transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: green;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.contact__content__list{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  padding: 2rem 0;
}

.contact__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0;
  padding: 4rem 1rem;
  border-radius: 1rem;
  background: var(--main-color);
  background-origin: border-box;
  box-shadow: inset 0 1000px white;
  border: 2px solid transparent;
}

.contact__form__title{
  font-weight: 700;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-color);
}

.contact__form__item{
  width: 90%;
}

.contact__form__link{
  background-color: transparent;
  text-decoration: none;
  text-align: justify;
  resize: none;
  border: none;
  border-bottom: 1.5px solid var(--main-color);
  width: 90%;
  padding-top: 2rem;
}

.contact__form__link::placeholder{
  font-family: var(--poppins);
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--primary-color);
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

textarea:focus, select:focus {
  border: 0 none;
}

.contact__form__submit{
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.contact__form__button{
  font-size: 0.75em;
  text-align: center;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  color: var(--primary-color);
  width: 6rem;
  padding: 0.75rem;
  background-image: var(--main-color);
  border-radius: 3rem;
}

.contact__form__button:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 500px) {
  .contact__container__title{
    font-size: 1.9em;
    font-weight: 700;
}
}
@media screen and (min-width: 768px) {
  .contact{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

 .contact__container{
      padding-left: 2rem;
      width: 50%;
 }
 

  .contact__form{
      width: 50%;
  }

  .contact__container{
      padding-right: 2rem;
  }

  .contact__container__title{
      font-size: 1.5em;
      font-weight: 700;
  }

  .contact__content__email{
      font-size: 1.2em;
  }

  .contact__form__title{
     font-size: 1.5em;  
  }

  .contact__form__link{
      font-size: 1.2em;
  }
}

@media screen and (min-width: 1200px) {
  .contact__container{
      padding-right: none;
  }
}

