section.contact{
    padding: 64px 0;
    background-color: var(--cor-de-fundo-2);
}
.contact__title{
  font-size: 3.2rem;
  margin-bottom: 30px;
  color: var(--title-orange);
}

.card__cont {
    margin-top: 10rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .title__cont{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  
  .form__cont {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .group__cont{
    position: relative;
  }
  
  .form__cont .group__cont label {
    font-size: 14px;
    color: rgb(99, 102, 102);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    transition: all .3s ease;
  }
  
  .form__cont .group__cont input,
  .form__cont .group__cont textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
  }
  
  .form__cont .group__cont input:placeholder-shown+ label, .form__cont .group__cont textarea:placeholder-shown +label {
    top: 10px;
    background-color: transparent;
  }
  
  .form__cont .group__cont input:focus,
  .form__cont .group__cont textarea:focus {
    border-color: #3366cc;
  }
  
  .form__cont .group__cont input:focus+ label, .form__cont .group__cont textarea:focus +label {
    top: -10px;
    left: 10px;
    background-color: #fff;
    color: #3366cc;
    font-weight: 600;
    font-size: 14px;
  }
  
  .form__cont .group__cont textarea {
    resize: none;
    height: 100px;
  }
  
  .form__cont button {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .form__cont button:hover {
    background-color:var(--main-color-hover);
  }
  
  